# Programming :
                Set of code or Instruction pass to a Machine to get any specification output.
#### Python Developed by Guido Van Rossum (Belong to Nietherland)
Guido love a serial called Monty Python's Flying Circus(broadcast on BBC1) pet name (Monty Python). 
		Total number of episodes: 45
		First episode date: 5 October 1969
		Final episode date: 5 December 1974
Python introduce in Market 1991
### Client of Python:  Google, Facebook, Instagram, Spotify, Quora, Netflix, Dropbox, Reddit, etc...
Python is an easy high-level programming language.           print("Hello world")
python support diffent type of coding paradigm(methods)

	1.	Topline programming
	2. 	Procedural Programming(Imperative programming)    
	3.	Object Oriented Programming 
### What can we do after learning python?

Artificial Intelligence,
Machine Learning Engineer,
Deep Learning Engineer,
Data Analytics(numpy, pandas, matplotlib),
IoT(Internet of Things),
Python Web Developer,
Python Developer(Desktop Application developer)
Python Scripting 
Web scraping, etc...

### Advantages:
                Recommendation, Machine Learning, Deep Learning, Python Developer, Web Developer, Python Scripting, Data Scientist,Data Analyst ETC....
### Disadvantages :
                Execution time High
                Mobile application is a bad choice using Python.
## Python Installer:
**IDLE** :             provide Input and Output.
**Interpreter**:       It helps to convert High Level(Hindi, English etc) to Machine Level(Binary Language)
**PIP**:               PIP is a package manager for Python packages, or modules if you like.
**Standard Library**:  It is a collection of script modules accessible to a Python program to simplify the programming process and removing the need to rewrite commonly used commands
**Documentation**:     Python documentation strings (or docstrings) provide a convenient way of associating documentation with Python modules, functions, classes, and methods.

In [1]:
#**Separator is used to end of the print function. default separator is space **
#code for disabling the softspace feature
print('G','F','G', sep='')
 
#for formatting a date
print('09','12','2016', sep='-')
 
#another example
print('pratik','geeksforgeeks', sep='@')

GFG
09-12-2016
pratik@geeksforgeeks

##### Separator: default set "space" its seperator with ,
##### END: default set \n(new line)

# Variable :--
              its a countainer which use to store the value it may be string , number and float.
=>Variable never start with Number.
=>Variable never conmtain special character except "_"
=>Variable should be Readable

In [2]:
_=10
print(_)

10

In [3]:
print(f"{_}")

10

# Input 
# If Else Elif

In [4]:
input("enter your name")          # input is default of string

enter your name Ali

'Ali'

In [5]:
num1=int(input("Enter 1st Number"))      # integer input is get when int()funtion is called
num2=int(input("Enter 2nd Number"))
print("Sum Of these two Number is:",num1+num2)

Enter 1st Number 45
Enter 2nd Number 56

Sum Of these two Number is: 101

In [6]:
num_1= int(input("Enter 1st Number:"))
num_2=int(input("Enter 2nd Number:"))
operation= input("Kindly choose one Operation +,-,*,/  :")
if operation == '+':
    print("Sum : ",num_1+num_2)
elif operation == '-':
    print("Substraction :",num_1-num_2)
elif operation == '*':
    print("Multiply :", num_1*num_2)
elif operation == '/':
    print("Divide : ", num_1/num_2)
else :
    print("Sorry , Wrong Operation is selected ")

Enter 1st Number: 78
Enter 2nd Number: 76
Kindly choose one Operation +,-,*,/  :

Sorry , Wrong Operation is selected

# DataType :-
> String = STR
> Integer = int
> float
> Complex
> List
> Tuple
> Set
> Dictionary = dict
> Boolean = bool

# String Str: 
*  a string is a " set of sequence of character"
* string Constructor is str()
* string literal is '',"","""""",''''''
* string support indexing
* string support slicing
* string support concatination
* string is immutable

In [7]:
a="Shadab Alam"

In [8]:
a[5:12]           #indexing value always reserve last value and pass the 4 indexing by 5

'b Alam'

In [9]:
a[::]      #start _index : end+1 index : stepping (1 is default)]

'Shadab Alam'

In [10]:
a[-1:-12:-1]   #indexing are use discreate also

'malA badahS'

In [11]:
a1="abcdefghijklmnopqrstuvwxyz"

In [12]:
a1[::]

'abcdefghijklmnopqrstuvwxyz'

In [13]:
a1[-1:-27:-1]

'zyxwvutsrqponmlkjihgfedcba'

In [14]:
b="0123456789"

In [15]:
b[1::2]            #Find the odd number

'13579'

In [16]:
b[0::2]            #Find the Even number

'02468'

In [17]:
aa="Shadab"
ab="Alam"
print(aa+ab)      #its called concatination

ShadabAlam

In [18]:
a1="10"
a11="54"
print(a1+a11)

1054

In [19]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

URL Refrence:====>> https://www.w3schools.com/python/python_ref_string.asp
# String Method:_
1.capitalize()         =>Converts the first character to upper case
2.casefold()           =>method returns a string where all the characters are lower case.similar to the                            lower()
3.center()             =>method will center align the string, using a specified character (space is                                default) as the fill character.
4.count()              =>method returns the number of times a specified value appears in the string.                               ##string.count(value, start, end)##
5.endswith()           =>method returns True if the string ends with the specified value, otherwise                                False.
6.expandtabs()        =>method sets the tab size to the specified number of whitespaces.
7.find()              =>Searches the string for a specified value and returns the position of where it                           was found, if not find then return -1.same as the index() index give error but                          find give -1
8.format()          =>method formats the specified value(s) and insert them inside the string's                                 placeholder.The placeholder is defined using curly brackets: {}.
9.isalnum()         =>method returns True if all the characters are alphanumeric, meaning alphabet letter               (a-z) and numbers (0-9). Example of characters that are not alphanumeric: (space)!#%&? etc.
10.isalpha()        =>method returns True if all the characters are alphabet letters (a-z).
11.isascii()        =>method returns True if all the characters are ascii characters  (a-z).
12.isdecimal()      =>method returns True if all the characters are decimals (0-9).
13.isdigit()        =>method returns True if all the characters are digits, otherwise False.
14.isidentifier()   =>method returns True if the string is a valid identifier, otherwise False.A string                  is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9),                or underscores (_). A valid identifier cannot start with a number, or contain any spaces.
15.islower()        =>method returns True if all the characters are in lower case, otherwise False.
16.isnumeric()      =>method returns True if all the characters are numeric (0-9), otherwise False.
17.isprintable() method returns True if all the characters are printable, otherwise False.
18.isspace() method returns True if all the characters in a string are whitespaces, otherwise False.
19.istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.
20.isupper() method returns True if all the characters are in upper case, otherwise False.
21.join() method takes all items in an iterable and joins them into one string.
22.ljust() method will left align the string, using a specified character (space is default) as the fill character.
23.lower() method returns a string where all characters are lower case.
24.lstrip() method removes any leading characters (space is the default leading character to remove)
25.upper() method returns a string where all characters are in upper case.
26.partition() method searches for a specified string, and splits the string into a tuple containing three elements.
27.replace() method replaces a specified phrase with another specified phrase.
28.rfind() method finds the last occurrence of the specified value.return -1 if not find,same as rindex()
29.rindex() method finds the last occurrence of the specified value.retun exception,same as rfind()
30.rjust() method will right align the string, using a specified character (space is default) as the fill character.
31.rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.
32.rsplit() method splits a string into a list, starting from the right.
33.rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.
34.split() method splits a string into a list.You can specify the separator, default separator is any whitespace.
35.splitlines() method splits a string into a list. The splitting is done at line breaks.
36.startswith() method returns True if the string starts with the specified value, otherwise False.
37.strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters.
38.swapcase() method returns a string where all the upper case letters are lower case and vice versa.
39.title() method returns a string where the first character in every word is upper case. Like a header, or a title.If the word contains a number or a symbol, the first letter after that will be converted to upper case.
40.translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.
41.maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.
42.zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

nameTESTcountry

# Complex

In [20]:
aa=4j

In [21]:
print(type(aa))

<class 'complex'>

In [22]:
a_1=10+4j
b_1=20+3j
c_1=a_1+b_1
print(a_1+b_1,type(c_1))
d=complex()
print(d)
e=0j
print(e)

(30+7j) <class 'complex'>
0j
0j

# List
>list constructor is list()
>list literal is [ ]
>list is mutable
>list is a set of sequence of element
>list support indexing
>list support slicing
>list support concatination but not broadcasting
>list is python array*(only assumption but not behave like array)
>list have several methods which makes list mutable(append,copy,clear extend etc)

In [23]:
l=[1,10.0,'ali','Akbar','shyam']
print(l)
l[3][2]                    #indexing
print(l[-1:-4:-1])         #slicing
print(l[3][1:4])           #slicing
print(l[::-1])             # Negative slicing

[1, 10.0, 'ali', 'Akbar', 'shyam']
['shyam', 'Akbar', 'ali']
kba
['shyam', 'Akbar', 'ali', 10.0, 1]

In [24]:
ll=[1,2,3,4,[33,34,5,[1,2,3,4],6,7,8],2,3,54]
print(ll[4][::-1])
print(ll[4][3][2])
print(ll[4][3][2:4:1])

[8, 7, 6, [1, 2, 3, 4], 5, 34, 33]
3
[3, 4]

In [25]:
aa=[1,2,3,4,10]
bb=[5,6,3,2,4]              #when 2 or more list add then its concat not broadcast
aa+bb

[1, 2, 3, 4, 10, 5, 6, 3, 2, 4]

In [26]:
import numpy as np

In [27]:
a=np.array([1,2,3,4,10])
b=np.array([5,6,3,2,4])    # when add two array its broadcast not concate
a+b

array([ 6,  8,  6,  6, 14])

In [28]:
dir(aa)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
A="krishna"
B="krishna"

In [30]:
print(id(A))  #jb 2 variable ka data same hotah to python ek ko hi memory me store krke dusre wale ko pehle wale ka refrence de deta h jisse dono ki ID same ho jati h
print(id(B))

1913240582064
1913240582064

In [31]:
AA=[1,2,3,4,5,6,7,8]
BB=AA          # jb dono same hoge to dono ka address same hoga isliye ek ko change kro to dusra bi hoga  ise Refrencing method khte h
BB.append(1000)
print(AA,BB)

[1, 2, 3, 4, 5, 6, 7, 8, 1000] [1, 2, 3, 4, 5, 6, 7, 8, 1000]

In [32]:
BB=AA.copy()      # copy method use krne se dono ka adress alag ho jayega jisse sirf ek mehi apped hoga

In [33]:
BB.append("krishna")
print(AA,BB)

[1, 2, 3, 4, 5, 6, 7, 8, 1000] [1, 2, 3, 4, 5, 6, 7, 8, 1000, 'krishna']

In [34]:
print(id(AA),id(BB))

1913219493824 1913219429568

# List Method:-
1.append() method appends an element to the end of the list.
2.clear() method removes all the elements from a list.
3.copy() method returns a copy of the specified list.
4.count() method returns the number of elements with the specified value. list.count(value) #count me value pass krte h jisko count krna hota 
5.extend() method adds the specified list elements (or any iterable) to the end of the current list.
6.index() method returns the position at the first occurrence of the specified value.
7.insert() method inserts the specified value at the specified position.list.insert(pos, elmnt)
8.pop() method removes the element at the specified position.list.pop(pos)
9.remove() method removes the first occurrence of the element with the specified value.list.remove(elmnt)
10.reverse() method reverses the sorting order of the elements.
11.sort() method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

# Tuple
>tuple constructor is tuple()
>tuple literal is ()
>tuple is immutable
>tuple support Indexing
>tuple support slicing
>tuple is faster then list

In [35]:
a111=(9,9,0) #lecture_9i

In [36]:
dir(a111)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Tuple Method:_
1.count() method returns the number of times a specified value appears in the tuple.count
2.index() method finds the first occurrence of the specified value.but exception when value not available

# Set:-
>Set Constructor is Set()
>set iterator is {}
>Set is an unordered set of sequence of element
>Set is mutable
>set doesnot support duplicate value
>set work on hashing table
>set doesnot support indexing and slicing

# Set Method:-

add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two or more sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with another set, or any other iterable

# Dictionary:-
>Dictionary constructor is dict()
>Dictionary literalis {}
>Dictionary is part of key: value seperated by","
>Dictionary is mutable
>Dictionary key behave like index
>Dictionary key must be Unique
>Dictionary have a lot of method

In [45]:
d={1:'Rohit',2:'Rohan',3:'Krishna',4:'Sumit'}

In [46]:
d

{1: 'Rohit', 2: 'Rohan', 3: 'Krishna', 4: 'Sumit'}

In [47]:
d[1]=['Rohit','Raj','Pushpa']

In [48]:
d[2]={'Name':'Rohan','Father':'Murari','Mother':'Amita'}

In [50]:
d[4]=("Sumit","Surendra","Payal")

In [51]:
d

{1: ['Rohit', 'Raj', 'Pushpa'],
 2: {'Name': 'Rohan', 'Father': 'Murari', 'Mother': 'Amita'},
 3: 'Krishna',
 4: ('Sumit', 'Surendra', 'Payal')}

In [58]:
d[2]['Mother']

'Amita'

# Dictionary Methods:-

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

# Bool:-
> Bool datatype return either True or False
>Bool constructor is bool()

# Casting:-
            Conversion of data from one form to another form.

In [62]:
a=10
a

10

In [65]:
b=float(a)
b

10.0

In [66]:
c=str(b)
c

'10.0'

In [70]:
d=int(float(c))
d

10

# Loop:-
          loops are two type:
### For Loop:-
>When number of iteration is known
>With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
### While Loop:-
>When Number of iteration is not known

In [13]:
for i in range(1,10,1):     # for and Whileis known as iterator and i is iterate and range is iterable
    print(i ,"I Love You")

1 I Love You
2 I Love You
3 I Love You
4 I Love You
5 I Love You
6 I Love You
7 I Love You
8 I Love You
9 I Love You

In [14]:
for i in range(1,10,1):
    if i==4:
        pass                       # pass is use to pass the value and conmplete the loop
    print(i ,"I Love You")

1 I Love You
2 I Love You
3 I Love You
4 I Love You
5 I Love You
6 I Love You
7 I Love You
8 I Love You
9 I Love You

In [19]:
for i in range(1,10,1):
    if i==4:
        print("Hello ")
        continue          #continue send for next to  the loop again and skip the next step
    print(i ,"I Love You")

1 I Love You
2 I Love You
3 I Love You
Hello
5 I Love You
6 I Love You
7 I Love You
8 I Love You
9 I Love You

In [16]:
for i in range(1,10,1):
    if i==4:
        break               #break is use to end the loop if condition is satisfied
    print(i ,"I Love You")

1 I Love You
2 I Love You
3 I Love You

In [3]:
a="Shadab Alam"
for i in a:
    print(i)

S
h
a
d
a
b

A
l
a
m

In [6]:
a=['Shadab','Alam','ansari']
for i in a:
    print(i)

Shadab
Alam
ansari

In [7]:
a=('Shadab','Alam','ansari')
for i in a:
    print(i)

Shadab
Alam
ansari

In [8]:
a={'Shadab','Alam','ansari'}
for i in a:
    print(i)

Shadab
Alam
ansari

In [10]:
a={1:'Shadab',2:'Alam',3:'ansari'}
for i in a:
    print(i,a[i])

1 Shadab
2 Alam
3 ansari

# Pattern:-
https://pynative.com/print-pattern-python-examples/

In [29]:
rows = 5
b = 0
# reverse for loop from 5 to 0
for i in range(rows, 0,-1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [12]:
rows = 5
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [31]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end="")
    print()

*****
****
***
**
*

# Function():-
                A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [13]:
def hello():                   # define a funtion
    for i in range(5):
        print("Hello World")

In [18]:
hello()       # calling a funtion

Hello World
Hello World
Hello World
Hello World
Hello World

In [22]:
def new_hello(n):            # n is called parameter, when n is called by function and passed its called argument
    for i in range(n):
        print("Love you")

In [23]:
new_hello()

TypeError: new_hello() missing 1 required positional argument: 'n'

In [24]:
new_hello(10)       # n=10 is called argument

Love you
Love you
Love you
Love you
Love you
Love you
Love you
Love you
Love you
Love you

In [25]:
def new_hello(n=5):           # n=5 called keyword argument when its passed then default set for given value
    for i in range (n):
        print("Love you")

In [29]:
new_hello()     # Keyword argument 5 is default when didnot give any argument its print 5

Love you
Love you
Love you
Love you
Love you

In [30]:
new_hello(2)    # Keyword argument passed 2 then printonly 2 values

Love you
Love you

In [31]:
def pattern(n=5):
    for i in range(n):
        for j in range (i+1):
            print("*",end=(""))
        print()

In [33]:
pattern(7)

*
**
***
****
*****
******
*******

In [40]:
def Pattern():
    n=int(input("Enter A number required to print pattern:"))
    for i in range (n):
        for j in range (i+1):
            print("*",end=(""))
        print()

In [41]:
Pattern()

Enter A number required to print pattern: 5

*
**
***
****
*****

In [3]:
def add(a,b):
    print("Sum is both Number: ",a+b)
    print("Minus:",a-b)
    print("Multiply :",a*b)
    print("Divide :",a/b)

In [4]:
add(5,9)

Sum is both Number:  14
Minus: -4
Multiply : 45
Divide : 0.5555555555555556

In [11]:
def add1():
    a=[2,3,4,5,67,788,8,8,5,90]
    b=0
    for i in a:
        b=b+i
    print("Sum Of List:",b)

In [12]:
add1()

Sum Of List: 980

In [20]:
def add1(a):
    b=0
    for i in a:
        b=b+i
    print("Sum Of List:",b)

In [21]:
add1([2,3,4,5,67,8])

Sum Of List: 89

In [25]:
def add1(*a):         # * is used for accept multiple argument in function
    b=0
    for i in a:
        b=b+i
    print("Sum Of List:",b)

In [27]:
add1(2,3,4,5,67,8)     # * may convert arguments in a tuple form automatically

Sum Of List: 89

# Local Variable:
                Local variables are declared inside the function blocks. In Python, local variables can be declared at any location in the code block.
# Global Variable:
                Global variables are the types of variables that are declared outside of every function of the program. The global variable, in contrast to local variables, is accessible by all functions in a program. Global variables are not very reliable because any function in the program can alter its value.

# Anonymous Function
# Lambda:
          A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.
The power of lambda is better shown when you use them as an anonymous function inside another function.

In [1]:
anny=lambda a,b:print(a+b)      # Lambda contain only one expression in its self

In [2]:
anny

In [3]:
x=10
y=20
xy=x+y
print(xy)

30

In [6]:
def qw():
    print(x*y)
qw()

200

In [8]:
def qa():
    xx=30
    yy=20
    print(xx*yy)
qa()

600

In [9]:
print(xx+yy)

NameError: name 'xx' is not defined

In [11]:
def qaa():
    global xxx,yyy      # create a local variable into global variable
    xxx=30
    yyy=20
    print(xxx*yyy)
qaa()

600

In [12]:
print(xxx+yyy)

50

In [17]:
def sum1():
    xx=30
    yy=20
    print(xx+yy)
sum1()

50

In [18]:
zz=sum1()

50

In [19]:
zz

In [20]:
zz+20

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [21]:
def sum2():
    xx=30
    yy=20
    return xx+yy   
sum2()

50

In [23]:
zzz=sum2()

In [24]:
zzz

50

In [25]:
zzz+100

150

In [9]:
def intro():
    print("I am AI Trainer")

In [11]:
intro()

I am AI Trainer

In [10]:
def super(arg):                            #Step 3
    def inner ():                          # 5
        print("I am Shadab ALam")
        arg()
    return inner                           # 4
val=super(intro)                           #Step 2
val()                                      #Step 1

I am Shadab ALam
I am AI Trainer